*, *::before, *::after {
  box-size: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  line-height: 1.7;
  font-size: 16px;
  text-align: center;
  background-color: #487eb0;
  color: #ffffff;
}

header {
  height: 100vh;
}

header h1 {
  font-size: 60px;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.box {
  margin: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.result-box {
  margin: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.result {
  margin: 0 50px;
  font-size: 36px;
  color: #33d9b2;
}

.result p {
  margin: 0;
}

.big-hands i {
  display: none;
  color: #34ace0;
  margin: 20px 30px;
  font-size: 10em;
}

.big-hands h3 {
  text-transform: uppercase;
}

.buttons {
  margin: 30px 0 20px 0;
}

.buttons .fas {
  margin: 0 20px;
  font-size: 56px;
  border: 5px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.buttons .fa-hand-paper {
  position: relative;
  color: #ffaf40;
}

.buttons .fa-hand-paper:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #487eb0;
  background-color: #ffaf40;
}

.buttons .fa-hand-paper:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.buttons .fa-hand-scissors {
  position: relative;
  color: #ff4d4d;
}

.buttons .fa-hand-scissors:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #487eb0;
  background-color: #ff4d4d;
}

.buttons .fa-hand-scissors:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.buttons .fa-hand-rock {
  position: relative;
  color: #3ae374;
}

.buttons .fa-hand-rock:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #487eb0;
  background-color: #3ae374;
}

.buttons .fa-hand-rock:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.erase {
  position: relative;
}

.fa-play-circle {
  font-size: 60px;
  color: red;
  position: fixed;
  top: 20px;
  left: 50px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: transparent;
  cursor: pointer;
  transition: .5s;
  border-radius: 50%;
}

.fa-play-circle:hover {
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.fa-play-circle:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.messages div:nth-child(1) {
  font-size: 50px;
}

.messages div:nth-child(2) {
  font-size: 20px;
}

.messages i {
  display: none;
}

/* Modal box */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 0;
  margin: 15% auto;
  background-color: #487eb0;
  border-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  width: 300px;
  height: auto;
}

.modal-content input {
  background-color: transparent;
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid #CAD3C8;
  border-width: 0 0 1px 0;
  color: #ffffff;
  text-align: center;
}

.modal-content input:-ms-input-placeholder {
  font-size: 12px;
  color: #CAD3C8;
  letter-spacing: 3px;
  text-align: center;
}

.modal-content input::placeholder {
  font-size: 12px;
  color: #CAD3C8;
  letter-spacing: 3px;
  text-align: center;
}

.modal-content button {
  margin: 30px 0 0 0;
  width: 80px;
  height: 30px;
  background-color: #40739e;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  border: none;
}

#modal-congrat, #modal-loser {
  display: none;
}

#modal-congrat .modal-content {
  color: #ffffff;
  background-color: #16a085;
}

#modal-loser .modal-content {
  color: #ffffff;
  background-color: #c0392b;
}

#modal-congrat .modal-content button {
  width: 120px;
  height: 50px;
  background-color: #1abc9c;
}

#modal-loser .modal-content button {
  width: 120px;
  height: 50px;
  background-color: #e74c3c;
}

#name-loser {
  text-transform: uppercase;
  font-size: 28px;
}

#name-winer {
  text-transform: uppercase;
  font-size: 28px;
}

/* Confetti */
.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}

.confetti-0 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -35%;
  left: 91%;
  opacity: 1.23383;
  transform: rotate(95.52328deg);
  animation: drop-0 4.9653s 0.47997s;
  animation-iteration-count: 1;
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 97%;
  }
}

.confetti-1 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 4%;
  opacity: 0.56881;
  transform: rotate(2.30487deg);
  animation: drop-1 4.63221s 0.19825s;
  animation-iteration-count: 1;
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 19%;
  }
}

.confetti-2 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 28%;
  opacity: 0.52758;
  transform: rotate(261.18735deg);
  animation: drop-2 4.88937s 0.34802s;
  animation-iteration-count: 1;
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 39%;
  }
}

.confetti-3 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 79%;
  opacity: 0.53485;
  transform: rotate(292.3822deg);
  animation: drop-3 4.63588s 0.48145s;
  animation-iteration-count: 1;
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 91%;
  }
}

.confetti-4 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 67%;
  opacity: 1.05484;
  transform: rotate(170.84759deg);
  animation: drop-4 4.4865s 0.79679s;
  animation-iteration-count: 1;
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 69%;
  }
}

.confetti-5 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 40%;
  opacity: 0.58055;
  transform: rotate(20.53992deg);
  animation: drop-5 4.14219s 0.03293s;
  animation-iteration-count: 1;
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 49%;
  }
}

.confetti-6 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 48%;
  opacity: 1.34755;
  transform: rotate(121.68328deg);
  animation: drop-6 4.81175s 0.42236s;
  animation-iteration-count: 1;
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 57%;
  }
}

.confetti-7 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 90%;
  opacity: 1.35457;
  transform: rotate(30.48178deg);
  animation: drop-7 4.69804s 0.25811s;
  animation-iteration-count: 1;
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 95%;
  }
}

.confetti-8 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 39%;
  opacity: 1.49163;
  transform: rotate(64.45268deg);
  animation: drop-8 4.13849s 0.03494s;
  animation-iteration-count: 1;
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-9 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 45%;
  opacity: 1.4203;
  transform: rotate(335.39067deg);
  animation: drop-9 4.57266s 0.32735s;
  animation-iteration-count: 1;
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 55%;
  }
}

.confetti-10 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 33%;
  opacity: 0.91431;
  transform: rotate(254.00778deg);
  animation: drop-10 4.38653s 0.99014s;
  animation-iteration-count: 1;
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 47%;
  }
}

.confetti-11 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 70%;
  opacity: 1.1235;
  transform: rotate(343.36112deg);
  animation: drop-11 4.90166s 0.43162s;
  animation-iteration-count: 1;
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 78%;
  }
}

.confetti-12 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 83%;
  opacity: 1.28731;
  transform: rotate(349.89093deg);
  animation: drop-12 4.63876s 0.18656s;
  animation-iteration-count: 1;
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 92%;
  }
}

.confetti-13 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -35%;
  left: 66%;
  opacity: 1.05485;
  transform: rotate(237.46879deg);
  animation: drop-13 4.3744s 0.28277s;
  animation-iteration-count: 1;
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 67%;
  }
}

.confetti-14 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 83%;
  opacity: 0.67781;
  transform: rotate(157.27372deg);
  animation: drop-14 4.05471s 0.35231s;
  animation-iteration-count: 1;
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 98%;
  }
}

.confetti-15 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 49%;
  opacity: 1.41215;
  transform: rotate(251.88181deg);
  animation: drop-15 4.4773s 0.03845s;
  animation-iteration-count: 1;
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 62%;
  }
}

.confetti-16 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 36%;
  opacity: 0.90213;
  transform: rotate(77.92231deg);
  animation: drop-16 4.27489s 0.844s;
  animation-iteration-count: 1;
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 50%;
  }
}

.confetti-17 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 86%;
  opacity: 0.81597;
  transform: rotate(94.31602deg);
  animation: drop-17 4.57857s 0.21386s;
  animation-iteration-count: 1;
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 91%;
  }
}

.confetti-18 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -35%;
  left: 35%;
  opacity: 1.15239;
  transform: rotate(85.01949deg);
  animation: drop-18 4.26744s 0.51362s;
  animation-iteration-count: 1;
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 41%;
  }
}

.confetti-19 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 45%;
  opacity: 0.79958;
  transform: rotate(124.3855deg);
  animation: drop-19 4.46079s 0.21008s;
  animation-iteration-count: 1;
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 55%;
  }
}

.confetti-20 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 28%;
  opacity: 1.46685;
  transform: rotate(126.37397deg);
  animation: drop-20 4.73231s 0.79599s;
  animation-iteration-count: 1;
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 37%;
  }
}

.confetti-21 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 58%;
  opacity: 1.32357;
  transform: rotate(223.71389deg);
  animation: drop-21 4.06128s 0.10715s;
  animation-iteration-count: 1;
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 59%;
  }
}

.confetti-22 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 50%;
  opacity: 0.67453;
  transform: rotate(231.48083deg);
  animation: drop-22 4.06802s 0.64581s;
  animation-iteration-count: 1;
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 53%;
  }
}

.confetti-23 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 5%;
  opacity: 1.13455;
  transform: rotate(187.51753deg);
  animation: drop-23 4.6203s 0.00731s;
  animation-iteration-count: 1;
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 12%;
  }
}

.confetti-24 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 40%;
  opacity: 1.19529;
  transform: rotate(16.59968deg);
  animation: drop-24 4.89359s 0.88612s;
  animation-iteration-count: 1;
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 48%;
  }
}

.confetti-25 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 15%;
  opacity: 0.90881;
  transform: rotate(73.96713deg);
  animation: drop-25 4.75662s 0.38501s;
  animation-iteration-count: 1;
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 30%;
  }
}

.confetti-26 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 56%;
  opacity: 0.56606;
  transform: rotate(1.04618deg);
  animation: drop-26 4.40285s 0.71922s;
  animation-iteration-count: 1;
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-27 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 86%;
  opacity: 0.83774;
  transform: rotate(56.15225deg);
  animation: drop-27 4.55645s 0.38673s;
  animation-iteration-count: 1;
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 100%;
  }
}

.confetti-28 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 73%;
  opacity: 1.2168;
  transform: rotate(55.22802deg);
  animation: drop-28 4.23785s 0.8046s;
  animation-iteration-count: 1;
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 75%;
  }
}

.confetti-29 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 61%;
  opacity: 0.88458;
  transform: rotate(72.0296deg);
  animation: drop-29 4.67543s 0.77602s;
  animation-iteration-count: 1;
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 63%;
  }
}

.confetti-30 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 4%;
  opacity: 0.7183;
  transform: rotate(217.16721deg);
  animation: drop-30 4.91226s 0.00423s;
  animation-iteration-count: 1;
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 5%;
  }
}

.confetti-31 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 86%;
  opacity: 0.8823;
  transform: rotate(111.24648deg);
  animation: drop-31 4.85743s 0.66818s;
  animation-iteration-count: 1;
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 94%;
  }
}

.confetti-32 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 35%;
  opacity: 0.82871;
  transform: rotate(267.26236deg);
  animation: drop-32 4.94471s 0.74415s;
  animation-iteration-count: 1;
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 39%;
  }
}

.confetti-33 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 52%;
  opacity: 1.25702;
  transform: rotate(149.16109deg);
  animation: drop-33 4.07745s 0.55678s;
  animation-iteration-count: 1;
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 56%;
  }
}

.confetti-34 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 36%;
  opacity: 0.9517;
  transform: rotate(127.44619deg);
  animation: drop-34 4.24847s 0.41395s;
  animation-iteration-count: 1;
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-35 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 76%;
  opacity: 0.62839;
  transform: rotate(347.84746deg);
  animation: drop-35 4.1579s 0.48709s;
  animation-iteration-count: 1;
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 83%;
  }
}

.confetti-36 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -35%;
  left: 38%;
  opacity: 1.09661;
  transform: rotate(28.5581deg);
  animation: drop-36 4.37773s 0.01346s;
  animation-iteration-count: 1;
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 50%;
  }
}

.confetti-37 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 51%;
  opacity: 1.09835;
  transform: rotate(338.06902deg);
  animation: drop-37 4.90994s 0.95125s;
  animation-iteration-count: 1;
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 59%;
  }
}

.confetti-38 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 75%;
  opacity: 0.73782;
  transform: rotate(318.23635deg);
  animation: drop-38 4.70516s 0.87729s;
  animation-iteration-count: 1;
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 82%;
  }
}

.confetti-39 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 80%;
  opacity: 0.76112;
  transform: rotate(112.73305deg);
  animation: drop-39 4.65349s 0.11282s;
  animation-iteration-count: 1;
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 92%;
  }
}

.confetti-40 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 99%;
  opacity: 0.78326;
  transform: rotate(181.75608deg);
  animation: drop-40 4.38536s 0.86511s;
  animation-iteration-count: 1;
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 114%;
  }
}

.confetti-41 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 66%;
  opacity: 0.87347;
  transform: rotate(110.14652deg);
  animation: drop-41 4.72592s 0.68474s;
  animation-iteration-count: 1;
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 67%;
  }
}

.confetti-42 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -35%;
  left: 9%;
  opacity: 0.92228;
  transform: rotate(205.28674deg);
  animation: drop-42 4.18887s 0.5399s;
  animation-iteration-count: 1;
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 16%;
  }
}

.confetti-43 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 68%;
  opacity: 1.2065;
  transform: rotate(124.40789deg);
  animation: drop-43 4.87195s 0.03415s;
  animation-iteration-count: 1;
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 80%;
  }
}

.confetti-44 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 31%;
  opacity: 0.93135;
  transform: rotate(197.78911deg);
  animation: drop-44 4.72935s 0.04826s;
  animation-iteration-count: 1;
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-45 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 21%;
  opacity: 0.96548;
  transform: rotate(288.86782deg);
  animation: drop-45 4.93105s 0.52456s;
  animation-iteration-count: 1;
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 28%;
  }
}

.confetti-46 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 100%;
  opacity: 0.87815;
  transform: rotate(335.22835deg);
  animation: drop-46 4.83827s 0.10559s;
  animation-iteration-count: 1;
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 101%;
  }
}

.confetti-47 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 79%;
  opacity: 0.69004;
  transform: rotate(19.66017deg);
  animation: drop-47 4.59451s 0.22553s;
  animation-iteration-count: 1;
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 81%;
  }
}

.confetti-48 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -35%;
  left: 33%;
  opacity: 0.792;
  transform: rotate(77.53107deg);
  animation: drop-48 4.75352s 0.76452s;
  animation-iteration-count: 1;
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 34%;
  }
}

.confetti-49 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 86%;
  opacity: 0.75635;
  transform: rotate(24.15251deg);
  animation: drop-49 4.48086s 0.95941s;
  animation-iteration-count: 1;
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 89%;
  }
}

.confetti-50 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 8%;
  opacity: 1.2108;
  transform: rotate(329.53935deg);
  animation: drop-50 4.96566s 0.05212s;
  animation-iteration-count: 1;
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 21%;
  }
}

.confetti-51 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 93%;
  opacity: 0.89799;
  transform: rotate(161.90015deg);
  animation: drop-51 4.30382s 0.57577s;
  animation-iteration-count: 1;
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 108%;
  }
}

.confetti-52 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 95%;
  opacity: 1.11006;
  transform: rotate(307.67754deg);
  animation: drop-52 4.54931s 0.89154s;
  animation-iteration-count: 1;
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 96%;
  }
}

.confetti-53 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 65%;
  opacity: 1.35002;
  transform: rotate(14.94488deg);
  animation: drop-53 4.89058s 0.1494s;
  animation-iteration-count: 1;
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 69%;
  }
}

.confetti-54 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 53%;
  opacity: 0.79411;
  transform: rotate(301.95833deg);
  animation: drop-54 4.59758s 0.09525s;
  animation-iteration-count: 1;
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 58%;
  }
}

.confetti-55 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 34%;
  opacity: 0.80949;
  transform: rotate(311.91104deg);
  animation: drop-55 4.04255s 0.30253s;
  animation-iteration-count: 1;
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 40%;
  }
}

.confetti-56 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 81%;
  opacity: 0.85937;
  transform: rotate(90.17717deg);
  animation: drop-56 4.0163s 0.25243s;
  animation-iteration-count: 1;
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 87%;
  }
}

.confetti-57 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 59%;
  opacity: 1.12254;
  transform: rotate(217.60824deg);
  animation: drop-57 4.11536s 0.9473s;
  animation-iteration-count: 1;
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 70%;
  }
}

.confetti-58 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 93%;
  opacity: 1.46532;
  transform: rotate(82.84706deg);
  animation: drop-58 4.96594s 0.60626s;
  animation-iteration-count: 1;
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 97%;
  }
}

.confetti-59 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 26%;
  opacity: 0.8877;
  transform: rotate(54.16872deg);
  animation: drop-59 4.13356s 0.95601s;
  animation-iteration-count: 1;
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 33%;
  }
}

.confetti-60 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -35%;
  left: 41%;
  opacity: 1.27967;
  transform: rotate(2.03828deg);
  animation: drop-60 4.46946s 0.9603s;
  animation-iteration-count: 1;
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 52%;
  }
}

.confetti-61 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 23%;
  opacity: 0.94403;
  transform: rotate(32.78271deg);
  animation: drop-61 4.20115s 0.53355s;
  animation-iteration-count: 1;
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-62 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 49%;
  opacity: 1.13059;
  transform: rotate(325.55504deg);
  animation: drop-62 4.3637s 0.76716s;
  animation-iteration-count: 1;
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 62%;
  }
}

.confetti-63 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 29%;
  opacity: 1.10575;
  transform: rotate(352.3958deg);
  animation: drop-63 4.55246s 0.90027s;
  animation-iteration-count: 1;
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 37%;
  }
}

.confetti-64 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 96%;
  opacity: 0.75365;
  transform: rotate(84.07711deg);
  animation: drop-64 4.02527s 0.39365s;
  animation-iteration-count: 1;
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-65 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 77%;
  opacity: 0.96255;
  transform: rotate(179.4907deg);
  animation: drop-65 4.14516s 0.22067s;
  animation-iteration-count: 1;
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 78%;
  }
}

.confetti-66 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 3%;
  opacity: 0.8254;
  transform: rotate(122.75096deg);
  animation: drop-66 4.31892s 0.17209s;
  animation-iteration-count: 1;
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 4%;
  }
}

.confetti-67 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 75%;
  opacity: 1.06823;
  transform: rotate(135.0385deg);
  animation: drop-67 4.67491s 0.86931s;
  animation-iteration-count: 1;
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 81%;
  }
}

.confetti-68 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 31%;
  opacity: 0.64909;
  transform: rotate(313.09131deg);
  animation: drop-68 4.98896s 0.0693s;
  animation-iteration-count: 1;
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 35%;
  }
}

.confetti-69 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 100%;
  opacity: 1.18436;
  transform: rotate(179.29764deg);
  animation: drop-69 4.01496s 0.71995s;
  animation-iteration-count: 1;
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 108%;
  }
}

.confetti-70 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 93%;
  opacity: 0.75545;
  transform: rotate(58.53053deg);
  animation: drop-70 4.55462s 0.03267s;
  animation-iteration-count: 1;
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-71 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 22%;
  opacity: 0.60531;
  transform: rotate(187.23588deg);
  animation: drop-71 4.2815s 0.28115s;
  animation-iteration-count: 1;
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 35%;
  }
}

.confetti-72 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 10%;
  opacity: 0.54604;
  transform: rotate(96.83035deg);
  animation: drop-72 4.70607s 0.03087s;
  animation-iteration-count: 1;
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 24%;
  }
}

.confetti-73 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 84%;
  opacity: 0.77106;
  transform: rotate(229.49464deg);
  animation: drop-73 4.84405s 0.3975s;
  animation-iteration-count: 1;
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 94%;
  }
}

.confetti-74 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 27%;
  opacity: 0.94904;
  transform: rotate(30.50617deg);
  animation: drop-74 4.19334s 0.22617s;
  animation-iteration-count: 1;
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 33%;
  }
}

.confetti-75 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 35%;
  opacity: 1.04918;
  transform: rotate(76.13208deg);
  animation: drop-75 4.84907s 0.60183s;
  animation-iteration-count: 1;
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 50%;
  }
}

.confetti-76 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 95%;
  opacity: 1.35003;
  transform: rotate(87.65248deg);
  animation: drop-76 4.1882s 0.08148s;
  animation-iteration-count: 1;
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-77 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -35%;
  left: 4%;
  opacity: 0.92824;
  transform: rotate(214.57714deg);
  animation: drop-77 4.58446s 0.28282s;
  animation-iteration-count: 1;
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 5%;
  }
}

.confetti-78 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 51%;
  opacity: 0.82603;
  transform: rotate(222.88476deg);
  animation: drop-78 4.10296s 0.2707s;
  animation-iteration-count: 1;
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 55%;
  }
}

.confetti-79 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 80%;
  opacity: 0.99282;
  transform: rotate(118.8451deg);
  animation: drop-79 4.28002s 0.71528s;
  animation-iteration-count: 1;
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 84%;
  }
}

.confetti-80 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 60%;
  opacity: 1.42553;
  transform: rotate(273.16055deg);
  animation: drop-80 4.14508s 0.9096s;
  animation-iteration-count: 1;
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 69%;
  }
}

.confetti-81 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 35%;
  opacity: 0.69131;
  transform: rotate(328.73315deg);
  animation: drop-81 4.7839s 0.16696s;
  animation-iteration-count: 1;
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 45%;
  }
}

.confetti-82 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 47%;
  opacity: 1.22112;
  transform: rotate(81.51296deg);
  animation: drop-82 4.80815s 0.62638s;
  animation-iteration-count: 1;
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 60%;
  }
}

.confetti-83 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 52%;
  opacity: 0.71801;
  transform: rotate(95.33432deg);
  animation: drop-83 4.08828s 0.88868s;
  animation-iteration-count: 1;
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 59%;
  }
}

.confetti-84 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 24%;
  opacity: 0.53211;
  transform: rotate(148.44008deg);
  animation: drop-84 4.02808s 0.60242s;
  animation-iteration-count: 1;
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-85 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -35%;
  left: 66%;
  opacity: 0.6792;
  transform: rotate(109.54173deg);
  animation: drop-85 4.7871s 0.68063s;
  animation-iteration-count: 1;
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 76%;
  }
}

.confetti-86 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 43%;
  opacity: 1.25133;
  transform: rotate(31.19802deg);
  animation: drop-86 4.72752s 0.5528s;
  animation-iteration-count: 1;
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 52%;
  }
}

.confetti-87 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -35%;
  left: 78%;
  opacity: 0.84453;
  transform: rotate(59.47319deg);
  animation: drop-87 4.33484s 0.37701s;
  animation-iteration-count: 1;
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 85%;
  }
}

.confetti-88 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 51%;
  opacity: 0.59004;
  transform: rotate(196.66784deg);
  animation: drop-88 4.43496s 0.70817s;
  animation-iteration-count: 1;
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-89 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -35%;
  left: 63%;
  opacity: 0.8211;
  transform: rotate(259.58601deg);
  animation: drop-89 4.60817s 0.56856s;
  animation-iteration-count: 1;
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-90 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 75%;
  opacity: 1.44061;
  transform: rotate(218.96068deg);
  animation: drop-90 4.31817s 0.45667s;
  animation-iteration-count: 1;
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 84%;
  }
}

.confetti-91 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 18%;
  opacity: 0.74974;
  transform: rotate(218.55326deg);
  animation: drop-91 4.73222s 0.44355s;
  animation-iteration-count: 1;
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 31%;
  }
}

.confetti-92 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 2%;
  opacity: 1.03572;
  transform: rotate(308.45696deg);
  animation: drop-92 4.45489s 0.61524s;
  animation-iteration-count: 1;
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 13%;
  }
}

.confetti-93 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 64%;
  opacity: 1.0488;
  transform: rotate(314.04512deg);
  animation: drop-93 4.8095s 0.42869s;
  animation-iteration-count: 1;
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 68%;
  }
}

.confetti-94 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 100%;
  opacity: 0.55541;
  transform: rotate(221.93694deg);
  animation: drop-94 4.83051s 0.33574s;
  animation-iteration-count: 1;
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 115%;
  }
}

.confetti-95 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -35%;
  left: 77%;
  opacity: 0.56861;
  transform: rotate(329.76732deg);
  animation: drop-95 4.98228s 0.88311s;
  animation-iteration-count: 1;
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 78%;
  }
}

.confetti-96 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 52%;
  opacity: 0.87545;
  transform: rotate(71.15836deg);
  animation: drop-96 4.74785s 0.38821s;
  animation-iteration-count: 1;
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 63%;
  }
}

.confetti-97 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 6%;
  opacity: 1.26663;
  transform: rotate(2.9308deg);
  animation: drop-97 4.11285s 0.08963s;
  animation-iteration-count: 1;
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 10%;
  }
}

.confetti-98 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 46%;
  opacity: 1.39865;
  transform: rotate(203.18274deg);
  animation: drop-98 4.93883s 0.93903s;
  animation-iteration-count: 1;
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 48%;
  }
}

.confetti-99 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 50%;
  opacity: 1.25807;
  transform: rotate(1.16874deg);
  animation: drop-99 4.25339s 0.0522s;
  animation-iteration-count: 1;
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 57%;
  }
}

.confetti-100 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 75%;
  opacity: 1.2713;
  transform: rotate(260.97591deg);
  animation: drop-100 4.69229s 0.381s;
  animation-iteration-count: 1;
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 84%;
  }
}

.confetti-101 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 59%;
  opacity: 1.26283;
  transform: rotate(281.91161deg);
  animation: drop-101 4.07796s 0.50973s;
  animation-iteration-count: 1;
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 63%;
  }
}

.confetti-102 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 37%;
  opacity: 0.69642;
  transform: rotate(121.29114deg);
  animation: drop-102 4.69119s 0.36876s;
  animation-iteration-count: 1;
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 51%;
  }
}

.confetti-103 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 19%;
  opacity: 0.7386;
  transform: rotate(149.46327deg);
  animation: drop-103 4.15843s 0.78019s;
  animation-iteration-count: 1;
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 29%;
  }
}

.confetti-104 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -35%;
  left: 2%;
  opacity: 1.48284;
  transform: rotate(96.28315deg);
  animation: drop-104 4.2563s 0.69383s;
  animation-iteration-count: 1;
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 8%;
  }
}

.confetti-105 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -35%;
  left: 89%;
  opacity: 0.58153;
  transform: rotate(120.13144deg);
  animation: drop-105 4.10347s 0.58471s;
  animation-iteration-count: 1;
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 100%;
  }
}

.confetti-106 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -35%;
  left: 19%;
  opacity: 0.96969;
  transform: rotate(347.44616deg);
  animation: drop-106 4.27736s 0.89621s;
  animation-iteration-count: 1;
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 34%;
  }
}

.confetti-107 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 80%;
  opacity: 0.76428;
  transform: rotate(64.67018deg);
  animation: drop-107 4.01237s 0.96239s;
  animation-iteration-count: 1;
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 85%;
  }
}

.confetti-108 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 25%;
  opacity: 1.17041;
  transform: rotate(299.19713deg);
  animation: drop-108 4.604s 0.04056s;
  animation-iteration-count: 1;
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-109 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 78%;
  opacity: 0.86071;
  transform: rotate(66.35151deg);
  animation: drop-109 4.20297s 0.67996s;
  animation-iteration-count: 1;
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 92%;
  }
}

.confetti-110 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 62%;
  opacity: 0.83919;
  transform: rotate(236.95431deg);
  animation: drop-110 4.18468s 0.32783s;
  animation-iteration-count: 1;
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-111 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 17%;
  opacity: 0.73533;
  transform: rotate(0.98793deg);
  animation: drop-111 4.73609s 0.06125s;
  animation-iteration-count: 1;
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 31%;
  }
}

.confetti-112 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -35%;
  left: 92%;
  opacity: 1.49458;
  transform: rotate(39.01572deg);
  animation: drop-112 4.8637s 0.58088s;
  animation-iteration-count: 1;
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-113 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 94%;
  opacity: 0.94342;
  transform: rotate(82.73139deg);
  animation: drop-113 4.65914s 0.64391s;
  animation-iteration-count: 1;
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-114 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -35%;
  left: 50%;
  opacity: 1.4475;
  transform: rotate(4.62408deg);
  animation: drop-114 4.33922s 0.69684s;
  animation-iteration-count: 1;
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 61%;
  }
}

.confetti-115 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -35%;
  left: 81%;
  opacity: 1.29425;
  transform: rotate(158.36198deg);
  animation: drop-115 4.33995s 0.49962s;
  animation-iteration-count: 1;
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 94%;
  }
}

.confetti-116 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -35%;
  left: 88%;
  opacity: 0.89178;
  transform: rotate(169.92052deg);
  animation: drop-116 4.27142s 0.8493s;
  animation-iteration-count: 1;
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 97%;
  }
}

.confetti-117 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 14%;
  opacity: 1.06309;
  transform: rotate(125.97896deg);
  animation: drop-117 4.19094s 0.90415s;
  animation-iteration-count: 1;
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-118 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 69%;
  opacity: 1.23;
  transform: rotate(61.10549deg);
  animation: drop-118 4.65304s 0.38563s;
  animation-iteration-count: 1;
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 82%;
  }
}

.confetti-119 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 73%;
  opacity: 0.84927;
  transform: rotate(161.76109deg);
  animation: drop-119 4.88789s 0.21974s;
  animation-iteration-count: 1;
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 74%;
  }
}

.confetti-120 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 4%;
  opacity: 1.20654;
  transform: rotate(121.21427deg);
  animation: drop-120 4.88843s 0.23436s;
  animation-iteration-count: 1;
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 9%;
  }
}

.confetti-121 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -35%;
  left: 54%;
  opacity: 0.65537;
  transform: rotate(186.40567deg);
  animation: drop-121 4.65801s 0.15553s;
  animation-iteration-count: 1;
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 63%;
  }
}

.confetti-122 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -35%;
  left: 23%;
  opacity: 1.23875;
  transform: rotate(41.95819deg);
  animation: drop-122 4.9897s 0.01408s;
  animation-iteration-count: 1;
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-123 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -35%;
  left: 14%;
  opacity: 1.16042;
  transform: rotate(181.1179deg);
  animation: drop-123 4.64487s 0.55499s;
  animation-iteration-count: 1;
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 19%;
  }
}

.confetti-124 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 18%;
  opacity: 0.63137;
  transform: rotate(180.3823deg);
  animation: drop-124 4.05915s 0.40212s;
  animation-iteration-count: 1;
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 24%;
  }
}

.confetti-125 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 51%;
  opacity: 0.83032;
  transform: rotate(87.52104deg);
  animation: drop-125 4.54069s 0.3762s;
  animation-iteration-count: 1;
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-126 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -35%;
  left: 60%;
  opacity: 0.86262;
  transform: rotate(99.93685deg);
  animation: drop-126 4.88385s 0.72997s;
  animation-iteration-count: 1;
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 66%;
  }
}

.confetti-127 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 96%;
  opacity: 0.89865;
  transform: rotate(318.44551deg);
  animation: drop-127 4.13525s 0.35132s;
  animation-iteration-count: 1;
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 98%;
  }
}

.confetti-128 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 3%;
  opacity: 1.1999;
  transform: rotate(236.24433deg);
  animation: drop-128 4.75003s 0.55773s;
  animation-iteration-count: 1;
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 17%;
  }
}

.confetti-129 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 26%;
  opacity: 1.44569;
  transform: rotate(173.47392deg);
  animation: drop-129 4.13042s 0.8197s;
  animation-iteration-count: 1;
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 35%;
  }
}

.confetti-130 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 49%;
  opacity: 0.59935;
  transform: rotate(210.48001deg);
  animation: drop-130 4.84494s 0.6427s;
  animation-iteration-count: 1;
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 50%;
  }
}

.confetti-131 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 40%;
  opacity: 1.0995;
  transform: rotate(148.55299deg);
  animation: drop-131 4.0618s 0.75856s;
  animation-iteration-count: 1;
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 52%;
  }
}

.confetti-132 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 16%;
  opacity: 0.83996;
  transform: rotate(56.64757deg);
  animation: drop-132 4.13784s 0.53208s;
  animation-iteration-count: 1;
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 22%;
  }
}

.confetti-133 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 23%;
  opacity: 0.83071;
  transform: rotate(229.73545deg);
  animation: drop-133 4.25498s 0.76007s;
  animation-iteration-count: 1;
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 24%;
  }
}

.confetti-134 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -35%;
  left: 70%;
  opacity: 1.0624;
  transform: rotate(122.6259deg);
  animation: drop-134 4.5642s 0.41235s;
  animation-iteration-count: 1;
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 77%;
  }
}

.confetti-135 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -35%;
  left: 89%;
  opacity: 0.89649;
  transform: rotate(32.7622deg);
  animation: drop-135 4.2836s 0.00766s;
  animation-iteration-count: 1;
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 101%;
  }
}

.confetti-136 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -35%;
  left: 49%;
  opacity: 0.65067;
  transform: rotate(340.331deg);
  animation: drop-136 4.10129s 0.22916s;
  animation-iteration-count: 1;
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 54%;
  }
}

.confetti-137 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -35%;
  left: 33%;
  opacity: 0.90606;
  transform: rotate(234.0032deg);
  animation: drop-137 4.3439s 0.77636s;
  animation-iteration-count: 1;
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 41%;
  }
}

.confetti-138 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -35%;
  left: 61%;
  opacity: 1.35944;
  transform: rotate(19.431deg);
  animation: drop-138 4.78507s 0.71191s;
  animation-iteration-count: 1;
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 70%;
  }
}

.confetti-139 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -35%;
  left: 86%;
  opacity: 0.86586;
  transform: rotate(216.20132deg);
  animation: drop-139 4.7958s 0.53473s;
  animation-iteration-count: 1;
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 98%;
  }
}

.confetti-140 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 71%;
  opacity: 1.35346;
  transform: rotate(263.25728deg);
  animation: drop-140 4.32502s 0.09842s;
  animation-iteration-count: 1;
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 77%;
  }
}

.confetti-141 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 66%;
  opacity: 0.95382;
  transform: rotate(88.58833deg);
  animation: drop-141 4.47372s 0.78075s;
  animation-iteration-count: 1;
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 69%;
  }
}

.confetti-142 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 20%;
  opacity: 0.65516;
  transform: rotate(116.26653deg);
  animation: drop-142 4.14687s 0.1556s;
  animation-iteration-count: 1;
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 23%;
  }
}

.confetti-143 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -35%;
  left: 71%;
  opacity: 0.71769;
  transform: rotate(185.40546deg);
  animation: drop-143 4.08206s 0.42869s;
  animation-iteration-count: 1;
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 77%;
  }
}

.confetti-144 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 29%;
  opacity: 0.56788;
  transform: rotate(223.93828deg);
  animation: drop-144 4.599s 0.08313s;
  animation-iteration-count: 1;
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 36%;
  }
}

.confetti-145 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 100%;
  opacity: 0.51357;
  transform: rotate(108.6472deg);
  animation: drop-145 4.6662s 0.93661s;
  animation-iteration-count: 1;
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 109%;
  }
}

.confetti-146 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -35%;
  left: 75%;
  opacity: 1.01501;
  transform: rotate(12.96375deg);
  animation: drop-146 4.65821s 0.90896s;
  animation-iteration-count: 1;
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 80%;
  }
}

.confetti-147 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -35%;
  left: 15%;
  opacity: 1.03236;
  transform: rotate(23.74802deg);
  animation: drop-147 4.11157s 0.50113s;
  animation-iteration-count: 1;
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 19%;
  }
}

.confetti-148 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -35%;
  left: 71%;
  opacity: 1.11438;
  transform: rotate(270.82322deg);
  animation: drop-148 4.74357s 0.55791s;
  animation-iteration-count: 1;
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 74%;
  }
}

.confetti-149 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -35%;
  left: 51%;
  opacity: 1.40753;
  transform: rotate(332.58253deg);
  animation: drop-149 4.67155s 0.31456s;
  animation-iteration-count: 1;
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 56%;
  }
}

.confetti-150 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -35%;
  left: 6%;
  opacity: 1.06044;
  transform: rotate(146.18583deg);
  animation: drop-150 4.94284s 0.59967s;
  animation-iteration-count: 1;
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */